@tailwind base;
@tailwind components;
@tailwind utilities;

.cinzel-decorative-regular {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}

.cinzel-decorative-bold {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
}

.cinzel-decorative-black {
  font-family: "Cinzel Decorative", serif;
  font-weight: 900;
  font-style: normal;
}

.eb-garamond-regular {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.eb-garamond-bold {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.eb-garamond-black {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}




body{
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.brand-heading{
  font-size: 3em;
 
}
.brand-subheading{
  margin-top: -20px;
  font-size: 3em;
  
}
.brand-subheading_2{
  margin-top: -12px;
  font-size: 1em;
}
.heading-link{
  color: rgb(54, 54, 250);
}

header{
  height: 140px;
}

.location-heading{
  font-size: 2em;
}

/* COMPONENTS */

.google-map-thumb{
  margin-top:4px;
  background-image: url('/images/google_map_thumb3.png');
  background-size: 260px;
  background-repeat: no-repeat;
  padding-top: 180px;
  height:190px;
}



/* LIGHT THEME */

nav{
/* 
  background-color: #031627; */
}



.brand-nav-link-active{
  color: white;
  border-color: #80a8fd;
}

.brand-nav-link-inactive{
  color: rgb(219, 217, 217);
}

.brand-input{
  /* border-color: #b13636; */
}


/* DARK THEME */



/* Form */
.dark .brand-input{
  background-color: #031627;
  border: 1px solid #5f7e97;
  color: #c2d4fb;
}
.dark .brand-option:hover{
  background-color: #23567f;
}

/* Models */
.dark .brand-model{
  background-color: #031627;
  color: #031627;
  border: 1px solid #5f7e97;
}
.dark .brand-model h2{
  color: #fb6262;
}
.dark .brand-model h3{
  color: #fb6262;
}
.dark .brand-model label{
  color: #80a8fd;
}


/* Text */
.dark .brand-text{
  color: #80a8fd;
}
.dark .brand-text-lite{
  color: #b7ccf9;
}

/* Buttons */
.dark button.brand-button-create{
  background-color: #0aeaaf;
  color: #031627;
}
.dark button.brand-button-create:hover{
  background-color: #82f7d8;
  color: #031627;
}
.dark button.brand-button-edit{
  background-color: #ffeb95;
  color: #031627;
}
.dark button.brand-button-edit:hover{
  background-color: #fbf2c8;
  color: #031627;
}
.dark button.brand-button-delete{
  background-color: #fb6262;
  color: #031627;
}
.dark button.brand-button-delete:hover{
  background-color: #f67f7f;
  color: #031627;
}




.dark .brand-feedback{
  border-color: #0aeaaf;
  color: #0aeaaf;
}

.dark .bg-green-100{
  background-color: #7fdbca;
}
.dark .text-green-800{
  color: #031627;
}
.dark .text-gray-500{
  color: #d4dff7;
}

.dark .brand-label{
  color: #80a8fd;
}

/* Container */

.dark .brand-container{
  background-color: #0b253a;
}

.dark .py-12 div:nth-child(1) div:nth-child(1) {
    background-color: #031627;
  }

.dark nav{
    background-color: #111827;
    border-bottom: 1px solid #5f7e97 ;
}



/* Foreground */
.dark .brand-table tbody tr{
    color: #9dbaf9;
    /* color: #ffeb95; */
    background-color: #031627;
}

.dark .brand-table thead th{
    color: #ffeb95;
    background-color: #031627;
}

.dark .brand-table tr td{
    border-bottom: 1px solid #5f7e97;
}

.dark .brand-table tr th{
    border-bottom: 1px solid white
}

.dark .brand-nav-link-active{
    color: #fb6262;
    border-color: #fb6262;
}

.dark .brand-nav-link-inactive{
    color: #80a8fd;
}

.dark header{
    background-color: #031627;
    border-bottom: 1px solid #5f7e97;
}
.dark .brand-page-title-container h2{
  color: #fb6262;
}
